#Intelij
.idea/
*.iws
/out/
.idea_modules/

# hidden files
.DS_Store

# paths
node_modules
.nyc_output
.vscode
coverage

# files
yarn-error.log
lerna-debug.log

# npm
**/package-lock.json
**/.eslintcache