_auth = c29ubnk6QVAyaGdhV0t6MUxGb2tYa0NWMWF3ZXpSZjg2UWZiZkZ1Y2Zkc1g=
email = sonny@pulseid.com
always-auth = true

@pulse:registry=https://pulseid.jfrog.io/pulseid/api/npm/npm/
@visa-gateway:registry=https://pulseid.jfrog.io/pulseid/api/npm/npm/
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=37ac163c-36e9-4dcc-bcb6-e35eda39da75
