.wrapper {
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}