.wrapper {
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-overflow-scrolling: touch;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.title {
  color: #ff9000;
  font-weight: 500;
  font-size: 18px;
  display: block;
}

.subTitle {
  color: #000000;
  font-size: 15px;
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
}